.switch-nav {
    max-width: 900px;
    position: relative;
    margin: auto;
}

.switch-nav .ensemble-navigation {
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #EBECFE;
}

.switch-nav .ensemble-navigation a {
    width: 175px;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 60px;
    text-decoration: none;
    color: #EBECFE;
    border-bottom: 4px solid #FFFFFF;
}

.switch-nav .ensemble-navigation a:hover {
    color: #F066FF;
}

.switch-nav .ensemble-navigation a.active {
    background-color: #FFFFFF;
    color: #000000;
    border-color: #D059FF;
}

.switch-nav .ensemble-navigation a img {
    height: 16px;
    padding-right: 6px;
    position: relative;
    top: 2px;
    filter: invert(59%) sepia(54%) saturate(6075%) hue-rotate(249deg) brightness(99%) contrast(103%);
}

.switch-nav .ensemble-navigation a:hover img {
    filter: invert(80%) sepia(55%) saturate(7141%) hue-rotate(247deg) brightness(100%) contrast(103%);
}

.switch-nav .ensemble-navigation a.active img {
    filter: none;
}

.switch-nav .ensemble-content {
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    height: 66vh;
    background-color: #FFFFFF;
    padding: 6px;
}

.switch-nav .invisible {
    display: none;
}
