#content .car .card {
    transition: all ease-in-out .5s;
    max-width:  40em;
    margin:     1em auto 2em auto;
    padding:    2em;
    box-shadow: var(--kolibri-box-shadow);
}
#content .car h1 {
    text-align: center;
}
#content .car .holder {
    margin: 0 3em 0 3em;
}
#content .car input[type=text] {
    font-size:      1.1em;
    color:          var(--kolibri-color-output);
    border-width:   0 0 1px 0;

    background-image:    linear-gradient(orange, orange);
    background-position: left bottom;
    background-repeat:   no-repeat;
    background-size:     0 1px; /* default:  do not show */
}

#content .car input[type=text]:focus {
    outline:             transparent none 0;
    border-bottom-color: transparent;

    background-size:     100% 1px;
    transition:          background-size linear .5s;
}

#content .car #plus {
    padding: 5px;
    width: 30px;
    position: relative;
    top: -1em;
}

#content .car h2 {
    margin-top: 25px;
    margin-bottom: 15px;
}

#content .car {
    margin-bottom: 120px;
}

#content .car p{
    padding-top: 8px;
    padding-bottom: 8px;
}

